
/* Typography */
h1,h2,h3,h4,h5,h6 {
  
}

body {
  margin-top: 50px;  /*50px is the height of the navbar - change this if the navbarn height changes */
//  background-color: #FDFCF6;
}

footer {
  margin: 50px 0;
}

.img-responsive {
  border: solid 1px #B1B1B1;
}

.navbar {
 // background-color: #341139;
  color: #B1B1B1;
  .current {
    color: #fff;
  }
}

.desc {
  float: right;
}

.contact {
  margin-top: 50px;
  .alert {
    //display: none; //testing
  }
}

.btn-primary {
  //background-color: #359668;
  &:hover {
  //  background-color: #3C3251;
  }
}

h1, h3 {
 // color: #3C3251;
}