@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/Jenny\/Desktop\/portfolio-home\/1-col-portfolio\/css\/style\.scss;
  }

  line {
    font-family: \000035;
  }
}

.img-responsive {
  border: solid 1px #ccc;
}