/* Gumdrop scheme, but purple/red/green = darker and yellow/gray = lighter */
$yellow: #fff5a2; 
$green: #56a979; 
$orange: #fca14b; // unaltered from original gumdrop theme, so might not work
$purple: #6a628b; 
$gray: #eaecec; 
$red: #a53a4d; 