@import 'bourbon';

/* Colors */
@import '_gumdrop-alt.scss';

/* other colors */
$black: #333;

/* Typography */
@import '_borgia.scss';
@import '_duru.scss';

/* Start main styles */
body {
  margin-top: 50px;  /*50px is the height of the navbar - change this if the navbarn height changes */
  background-color: $gray; 
  font-family: $duru; 
}

h1, h3 {
  color: $red;
  font-family: $borgia;
}

h2, h4 {
  color: $black;
  font-family: $borgia;
}

h2 small {
  color: $black;
}

h1 small {
  color: $black;
}

p {
  line-height: 1.7em;
}

a {
  color: $purple;
  &:hover {
    color: $green;
  }
}

hr {
  border-top: 1px solid #d6d6d6;
}

.img-responsive {
  border: solid 2px $gray;
  box-shadow: 0px 0px 10px 10px $yellow;
  &.cover {
    box-shadow: none;
  }
  @media screen and (max-width:980px) {
    margin-bottom: 1.5em;
  }
}

.btn-primary {
  background-color: $purple;
  border-color: $purple;
  font-family: $borgia;
  margin-right: 20px;
  &:hover, &:focus {
    background-color: $green;
    border-color: $green;
  }
}

/* Nav styles */
.navbar {
  background-color: $purple;
  border-color: $purple;
  .current {
    color: $yellow !important;
  }
}

.navbar-brand {
  color: #fff !important;
  font-family: $borgia;
  padding-right: 2em;
  @media screen and (max-width:340px) {
    padding-right: .75em;
  }
}

/* Contact form styles */
.contact {
  margin-top: 50px;
  .alert {
    //display: none; //testing
  }
  .alert-danger {
    background-color: $red;
    border-color: $red;
    color: #fff;
  }
  .alert-success {
    background-color: $green;
    border-color: $green;
    color: #fff;
  }
  .btn-danger {
    background-color: $red;
    border-color: $red;
    color: #fff;
    font-family: $borgia;
    &:hover, &:focus {
      background-color: $yellow;
      border-color: $yellow;
      color: $black;
    }
  }
  .form-control {
    &:focus {
      box-shadow: 0 1px 1px $yellow;
      border-color: $yellow;
    }
  }
} //end contact styles  

/* Cover styles */
.caption {
  margin-top: 2em;
  max-width: 280px;
  text-align: center;
  font-size: 1.4rem;
}

